/* Left Button */
.custom-left {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all 0.3s ease;
  }
.custom-left:hover {
    background-color: black;
    color: white;
  }
  
  /* Right Button */
.custom-right {
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease;
  }
.custom-right:hover {
    background-color: white;
    color: black;
  }

.text-justify {
    text-align: justify;
  }
.social-link{
  text-decoration: none;
}
.social-link:hover {
    color: #ff0000 !important;/* black on hover */
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
  }

/* Fade-in effect */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slide-in-top {
  transform: translateY(-100%);
  opacity: 0;
  animation: slideTop 1s forwards;
}
@keyframes slideTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  transform: translateY(100%);
  opacity: 0;
  animation: slideBottom 2s forwards;
}
@keyframes slideBottom {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.transition {
  transition: all 0.3s ease;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
  